.taskk-container {
    width: 100%;
    display: flex;
}

.task-form {
    width: 100%;
}

.task-item.completed .task-title,
.task-item.completed .task-dates div {
    text-decoration: line-through; /* خط عبر النص */
}

.task {
    width: 40%;
    margin-top: -70px;
    margin-left: 20px;
}

.text {
    color: rgb(228, 126, 8);
}

.filter {
    width: 60%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn, .btnA, .btnC {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnA {
    background-color: rgb(255, 152, 152);
    color: black;
}

.btn {
    background-color: rgb(255, 255, 91);
    color: black;
}

.btnC {
    background-color: rgb(214, 255, 152);
    color: black;
}

.listTasks {
    width: 100%; 
    max-width: 800px; 
    height: 580px;  
    overflow-y: auto;  
    border-radius: 5px; 
    padding: 10px; 
}

.inpt{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    width: 100%;
    font-family: 'Papyrus', 'Harrington', 'Wisp', 'Arkana', 'Rivendell', fantasy;
}

.divvv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.iinput {
    margin-left: 6%;
}

.task-item {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 700px;
}

.task-title {
    font-size: 24px;
    font-weight: bold;
}

.task-dates {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
}

.task-status , .task-delete{
    align-self: flex-end;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
}
/* 
.task-delete {
    align-self: flex-end;
    background-color: #979192;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
} */

.date-item {
    display: flex;
    flex-direction: column;
}

.task-item.active {
    background-color: #ffcccc;
}

.task-item.completed {
    background-color: #ccffcc;
}

.khwi {
    height: 90%;
}

.delet {
    margin-left: auto;
}

.h1 {
    color: #000;
    font-size: 5rem;
    margin-top: 8rem;
}

.titletask{
    width: 40%;
}
/* 
@media (max-width: 600px) {
    .taskk-container{
        display: flex;
        flex-direction: column;
    }
    .task{
        width: 96%;
        margin-left: 2%;
    }
    .listTasks{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        max-width: 580px;
        overflow: hidden;
    }
    .titletask{
        width: 30%;
    }
} */
















@media (max-width: 768px) {
    .taskk-container {
        flex-direction: column;
    }
    .task {
        width: 100%;
        /* margin-left: 2%; */
    }
    .task-item {
        width: 100%;
    }
    .listTasks {
        max-width: 600px;
    }
}